<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include("home.ejs") %>
        <br><br>
        <div class="container p-5 bg-dark">
            <div class="form-group">
                <input type="text" name="name" value="" class="form-control" onkeyup="searchDept(this.value)">
            </div>
            <table class="table text-white p-5">
                <tr>
                    <th>SR NO</th>
                    <th>Emp NAME</th>
                    <th>DELETE</th>
                    <th>UPDATE</th>
                </tr>
                <tbody id="tblBody">
                    <% if(deptList.length!=0){ deptList.forEach((row,index)=>{
                        %>
                        <tr>
                            <td><%- index+1 %></td>
                            <td><%- row.deptname %></td>
                            <td><a href="/delDept?did=<%=row.deptid%>">DELETE</a></td>
                            <td><a href="/upddept?dn=<%= row.deptname %>&did=<%= row.deptid %>">UPDATE</a></td>


                        </tr>
                        <% }); } else{ %>
                            <tr>
                                <td colspan="4">NO DATA FOUND</td>
                            </tr>
                            <% } %>
                </tbody>
            </table>
        </div>
</body>

</html>